body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.stars {
  background: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic8.depositphotos.com%2F1560516%2F1038%2Fv%2F450%2Fdepositphotos_10382176-stock-illustration-night-sky.jpg&tbnid=osI__Y3VFhkH8M&vet=12ahUKEwiMuYzxyeWCAxXWAvsDHT8QAWoQMygGegUIARCBAQ..i&imgrefurl=https%3A%2F%2Fdepositphotos.com%2Fvectors%2Fstars-background.html&docid=RwwZqHo5jXmo5M&w=600&h=416&q=stars%20background&ved=2ahUKEwiMuYzxyeWCAxXWAvsDHT8QAWoQMygGegUIARCBAQ') 0 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

h1 {
  font-size: 3em;
  margin: 0;
}
